:root {
	color-scheme: light dark;
}

body {
	overflow: hidden;
	margin: 0;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
}

hr {
	border: 0;
	border-top: 1px solid #ccc;
}

button {
	position: relative;
}

input {
	vertical-align: middle;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

textarea {
	tab-size: 4;
	white-space: pre;
	word-wrap: normal;
}

textarea.success {
	border-color: #8b8 !important;
}

textarea.fail {
	border-color: #f00 !important;
	background-color: rgb(255 0 0 / 5%);
}

textarea, input { outline: none; } /* osx */

.Panel {
	user-select: none;
	user-select: none;
	user-select: none;

	/* No support for these yet */
	user-select: none;
	user-select: none;
}

.TabbedPanel {
	user-select: none;
	user-select: none;
	user-select: none;

	/* No support for these yet */
	user-select: none;
	user-select: none;
	position: relative;
	display: block;
	width: 100%;
	min-width: 260px;
}

.TabbedPanel .Tabs {
	position: relative;
	display: block;
	width: 100%;
}

.TabbedPanel .Tabs .Tab {
	padding: 10px;
	text-transform: uppercase;
}

.TabbedPanel .Panels {
	position: relative;
	display: block;
	width: 100%;
}

/* Listbox */
.Listbox {
	overflow: auto;
	padding: 0;
	width: 100%;
	min-height: 140px;
	font-size: 12px;
	color: #444;
	background-color: #fff;
	cursor: default;
}

.Listbox .ListboxItem {
	padding: 6px;
	white-space: nowrap;
	color: #666;
}

.Listbox .ListboxItem.active {
	background-color: rgb(0 0 0 / 4%);
}

/* CodeMirror */

.CodeMirror {
	position: absolute !important;
	top: 37px;
	width: 100% !important;
	height: calc(100% - 37px) !important;

}

.CodeMirror .errorLine {
	background: rgb(255 0 0 / 25%);

}

.CodeMirror .esprima-error {
	padding: 0 20px;
	text-align: right;
	color: #f00;

}

/* outliner */

#outliner .opener {
	display: inline-block;
	margin: 0 4px;
	width: 14px;
	height: 14px;
	text-align: center;
	vertical-align: top;
}

#outliner .opener.open::after {
	content: '−';
}

#outliner .opener.closed::after {
	content: '+';
}

#outliner .option {
	border: 1px solid transparent;

}

#outliner .option.drag {
	border: 1px dashed #999;

}

#outliner .option.dragTop {
	border-top: 1px dashed #999;

}

#outliner .option.dragBottom {
	border-bottom: 1px dashed #999;

}

#outliner .type {
	display: inline-block;
	width: 14px;
	height: 14px;
	text-align: center;
	color: #ddd;
}

#outliner .type::after {
	content: '●';
}

/* */

#outliner .Scene {
	color: #88d;
}

#outliner .Camera {
	color: #d88;
}

#outliner .Light {
	color: #dd8;
}

/* */

#outliner .Object3D {
	color: #aae;
}

#outliner .Mesh {
	color: #88e;
}

#outliner .Line {
	color: #8e8;
}

#outliner .LineSegments {
	color: #8e8;
}

#outliner .Points {
	color: #e88;
}

/* */

#outliner .Geometry {
	color: #aea;
}

#outliner .Material {
	color: #eae;
}

/* */

#outliner .Script::after {
	content: '◎'
}

/*  */

button {
	margin: 0; /* GNOME Web */
	border: 0;
	padding: 5px 8px;
	font-size: 12px;
	color: #555;
	background-color: #ddd;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
}

button:hover {
	background-color: #fff;
}

button.selected {
	background-color: #fff;
}

input, textarea {
	border: 1px solid transparent;
	color: #444;
}

input.Number {
	border: 0;
	padding: 2px;
	font-size: 12px;
	color: #08f!important;
}

select {
	border: 0;
	color: #666;
	background-color: #ddd;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
}

select:hover {
	background-color: #fff;
}

/* UI */

#resizer {
	position: absolute;
	top: 32px;
	right: 295px;
	bottom: 0;
	width: 5px;

	/* background-color: rgba(255,0,0,0.5); */
	cursor: col-resize;
}

#viewport {
	position: absolute;
	top: 32px;
	right: 300px;
	bottom: 0;
	left: 300px;
}

#viewport #info {
	text-shadow: 1px 1px 0 rgb(0 0 0 / 25%);
	pointer-events: none;
}

#script {
	position: absolute;
	top: 32px;
	right: 300px;
	bottom: 0;
	left: 0;
	opacity: 0.9;
}

#player {
	position: absolute;
	top: 32px;
	right: 300px;
	bottom: 0;
	left: 0;
}

#menubar {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 32px;
	background: #eee;
}

#menubar .menu {
	float: left;
	cursor: pointer;
	padding-right: 8px;
}

#menubar .menu.right {
	float: right;
	cursor: auto;
	padding-right: 0;
	text-align: right;
}

#menubar .menu .title {
	display: inline-block;
	margin: 0;
	padding: 8px;
	color: #888;
	line-height: 16px;
}

#menubar .menu .options {
	position: fixed;
	display: none;
	overflow: auto;
	padding: 5px 0;
	width: 150px;
	max-height: calc(100% - 80px);
	background: #eee;
}

#menubar .menu:hover .options {
	display: block;
}

#menubar .menu .options hr {
	border-color: #ddd;
}

#menubar .menu .options .option {
	margin: 0 !important;
	padding: 5px 10px;
	color: #666;
	background-color: transparent;
}

#menubar .menu .options .option:hover {
	color: #fff;
	background-color: #08f;
}

#menubar .menu .options .option:active {
	color: #666;
	background: transparent;
}

#menubar .menu .options .inactive {
	margin: 0 !important;
	padding: 5px 10px;
	color: #bbb;
	background-color: transparent;
}

.leftsidebar {
	position: absolute;
	top: 32px;
	bottom: 0;
	left: 0;
	display: flex;
	overflow: auto;
	width: 300px;
	background: #eee;
	flex-direction: column;
}

#sidebar {
	position: absolute;
	top: 32px;
	right: 0;
	bottom: 0;
	overflow: auto;
	width: 300px;
	background: #eee;
}

#sidebar .Panel {
	border-top: 1px solid #ccc;
	padding: 10px;
	color: #888;
}

#sidebar .Panel.collapsed {
	margin-bottom: 0;
}

#sidebar .Row {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	min-height: 24px;
}

#tabs {
	border-top: 1px solid #ccc;
	background-color: #ddd;
}

#tabs span {
	border-right: 1px solid #ccc;
	padding: 10px;
	color: #aaa;
}

#tabs span.selected {
	color: #888;
	background-color: #eee;
}

#toolbar {
	position: absolute;
	top: 42px;
	left: 10px;
	width: 32px;
	text-align: center;
	background: #eee;
}

#toolbar button, #toolbar input {
	height: 32px;
}

#toolbar button img {
	width: 16px;
	opacity: 0.5;
}

.Outliner {
	overflow: auto;
	padding: 0;
	width: 100%;
	height: 140px;
	font-size: 12px;
	color: #444;
	background-color: #fff;
	outline: none !important;
	resize: vertical;
	cursor: default;
}

.Outliner .option {
	padding: 4px;
	white-space: nowrap;
	color: #666;
}

.Outliner .option:hover {
	background-color: rgb(0 0 0 / 2%);
}

.Outliner .option.active {
	background-color: rgb(0 0 0 / 4%);
}


.TabbedPanel .Tabs {
	border-top: 1px solid #ccc;
	background-color: #ddd;
}

.TabbedPanel .Tab {
	border-right: 1px solid #ccc;
	color: #aaa;
}

.TabbedPanel .Tab.selected {
	color: #888;
	background-color: #eee;
}

.Listbox {
	color: #444;
	background-color: #fff;
}

.Panel {
	color: #888;
}

/* */

@media all and ( max-width: 600px ) {
	#resizer {
		display: none;
	}

	#menubar .menu .options {
		max-height: calc(100% - 372px);
	}

	#menubar .menu.right {
		display: none;
	}

	#viewport {
		top: 32px;
		right: 0;
		left: 0;
		height: calc(100% - 352px);
	}

	#script {
		top: 32px;
		right: 0;
		left: 0;
		height: calc(100% - 352px);
	}

	#player {
		top: 32px;
		right: 0;
		left: 0;
		height: calc(100% - 352px);
	}

	#sidebar {
		top: calc(100% - 320px);
		bottom: 0;
		left: 0;
		width: 100%;
	}

}

/* DARK MODE */

@media ( prefers-color-scheme: dark ) {
	button {
		color: #aaa;
		background-color: #222;
	}

	button:hover {
		color: #ccc;
		background-color: #444;
	}

	button.selected {
		color: #fff;
		background-color: #08f;
	}

	input, textarea {
		border: 1px solid transparent;
		color: #888;
		background-color: #222;
	}

	select {
		color: #aaa;
		background-color: #222;
	}

	select:hover {
		color: #ccc;
		background-color: #444;
	}

	/* UI */

	#menubar {
		background: #111;
	}

	#menubar .menu .options {
		background: #111;
	}

	#menubar .menu .options hr {
		border-color: #222;
	}

	#menubar .menu .options .option {
		color: #888;
	}

	#menubar .menu .options .inactive {
		color: #444;
	}

	#sidebar {
		background-color: #111;
	}

	#sidebar .Panel {
		border-top: 1px solid #222;
	}

	#sidebar .Panel.Material canvas {
		border: solid 1px #5A5A5A;
	}

	#tabs {
		border-top: 1px solid #222;
		background-color: #1b1b1b;
	}

	#tabs span {
		border-right: 1px solid #222;
		color: #555;
	}

	#tabs span.selected {
		background-color: #111;
	}

	#toolbar {
		background-color: #111;
	}

	#toolbar img {
		filter: invert(1);
	}

	.Outliner {
		color: #888;
		background: #222;
	}

	.Outliner .option:hover {
		background-color: rgb(21 60 94 / 50%);
	}

	.Outliner .option.active {
		background-color: rgb(21 60 94 / 100%);
	}

	.TabbedPanel .Tabs {
		border-top: 1px solid #222;
		background-color: #1b1b1b;
	}

	.TabbedPanel .Tab {
		border-right: 1px solid #222;
		color: #555;
	}

	.TabbedPanel .Tab.selected {
		color: #888;
		background-color: #111;
	}

	.Listbox {
		color: #888;
		background: #222;
	}

	.Listbox .ListboxItem:hover {
		background-color: rgb(21 60 94 / 50%);
	}

	.Listbox .ListboxItem.active {
		background-color: rgb(21 60 94 / 100%);
	}

}

/* Temporary Chrome fix (#24794) */

[draggable="true"] {
	transform: translate(0, 0);
	z-index: 0;
}
