
.menuicon{ 
  position: absolute;
  right: 15px;
  bottom: 15px;
  border: 1px solid; 
  border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  font-size: 25px;
  text-align: center;
  color: white; 
  background-color: rgb(98 185 89); 
  box-shadow: white 0 0 10px; 
  line-height: 50px; 
  cursor: pointer;
  pointer-events: all;

  &:hover{
    transform: scale(1.05);
  }
}


.drawer{ 
  position: absolute; 
  top: 0;
  right: -300px;
  display: flex;
  overflow-y: auto;
  width: 300px;
  height: 100%;
  background-color: white; 

  /* opacity: 0; */
  box-shadow: black 0 0 5px;
  transition: right 0.25s ease-out 0s, opacity 0.25s ease-out 0s; 
  flex-direction: column;
  box-sizing: border-box;
}

.drawershow{
  right: 0;
}


.drawerheader{ 
  display: flex; 
  align-items: center;
  border-bottom: 1px solid; 
  padding: 0 15px; 
  height: 50px;
  background-color: white; 
  flex-direction: row;
}

.drawerheadertitle{
  flex: 1;
  font-size: 15px;
}

.drawerheaderclose{
  width: 40px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.drawerfooter{ 
  display: flex;
  align-items: center; 
  border-top: 1px solid; 
  padding: 0 15px; 
  height: 50px;
  background-color: white; 
  flex-direction: row;
}

.drawerfooterbtn{
  width: 100px;
}

.contentview{
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  border: 1px solid red;
}

